
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    color: blue;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

section h2 {
    margin-bottom: 10px;
}

section#contactinfo img {
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}


.date {
    font-style: italic;
}

section#skills ul {
    columns: 2;
}

ul li a:hover {
    text-decoration: underline;
}
