:root
{
  --box: white;
  --box2: black;
  --backround: red;
}
body
{
    background-color: var(--backround);
}
*
{
    color: var(--box);
    text-align: center;
}
h1
{
    font-size: calc(12pt + 4vw);
}
nav
{
    border: 7px var(--box2) solid;
}
section
{
    border: 5px var(--box) solid;
    margin: 5px;
    margin-top: 50px;
}
.date
{
    color: var(--backround);
}
ul
{
    list-style: none;
    padding-left: 0px;
}
